/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.c-site-header {
  .rubik-temp-logo {
    float: left;
    margin-left: 20px;
  }
}

.c-site--animated {
  .c-site-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    background: #fff;
  }
  &:before {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 55;
  }
}


.c-site-header .h-site-block {
  max-width: 1900px;
}

.c-site-header .c-box {
  padding: 12px 9px;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Logo */

.c-main-logo {
	float: left;
    width: 154px;
}

	.c-main-logo img {
		width: 100%;
      height: auto;
	}



/* Toggle mobile menu */

.c-toggle-mobile-menu {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 60px;
  width: 60px;
  display: none;
}

.c-toggle-mobile-menu i {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  opacity: 0;
  @include transition(opacity 0.3s);
  left: 14px;
  top: 14px;
}

.c-toggle-mobile-menu .icon-menu {
  opacity: 1;
  background: url(../img/icon-menu.svg) no-repeat center center;
  background-size: contain;
}

.c-toggle-mobile-menu .icon-close {
  background: url(../img/icon-close.svg) no-repeat center center;
  background-size: contain;
}

.h-menu-visible .c-toggle-mobile-menu {

}


.h-menu-visible .c-toggle-mobile-menu .icon-menu {
  opacity: 0;
}

.h-menu-visible .c-toggle-mobile-menu .icon-close {
  opacity: 1;
}


/* Main menu */

.c-main-menu-wrapper {

}

  .h-menu-visible .c-main-menu-wrapper {

  }


/* Main menu */

.c-main-menu {
  float: right;
  margin-top: 6px;
  font-size: 18px;
}

  .c-main-menu li {
    margin-right: 10px;
  }

  .c-main-menu li:last-child {
    margin-right: 0;
  }

    .c-main-menu a {
      color: #808080;
    }


/* Mobile menu responsive */

@include respond-to(r1260) {

  .c-site-header .c-box {
    padding-top: 7px;
  }

  .c-main-logo {
    width: 125px;
  }

  .c-main-menu {
    margin-top: 3px;
  }

  .c-site-header .nav-link {
    padding: 5px 8px;
    font-size: 16px;
  }

  .c-main-menu li {
    margin-right: 5px;
  }


  .rubik-temp-logo img {
    height: 34px;
  }

}

@include respond-to(r960) {

  .c-toggle-mobile-menu {
    display: inline-block;
  }

  .c-main-menu-wrapper {
    position: absolute;
    top: 81px;
    right: 0;
    width: 100%;
    max-width: 360px;
    background: #fff;
    opacity: 0;
    @include translateX(100%);
    @include transition(transform 0.3s, opacity 0.3s);
    z-index: 20;
    padding: 20px 30px;
    padding-right: 22px;
    padding-top: 0;
  }

  .h-menu-visible .c-main-menu-wrapper {
    @include translateX(0);
    opacity: 1;
  }

  .c-main-menu {
    float: none;
  }

  .c-main-menu .nav {
    display: block;
  }

  .c-main-menu li {
    display: block;
    margin: 0;
    text-align: right;
  }

}


@include respond-to(r768) {

  .c-toggle-mobile-menu {
    right: 5px;
  }

  .c-site-header .rubik-temp-logo {
    margin-left: 10px;
  }

  .rubik-temp-logo img {
    height: 25px;
    margin-top: 5px;
  }

}


