body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.72em;
}


.border-left-yellow {
  border-left: 3px solid #FEBF00;
}

/*Typography*/


p {
  line-height: 1.72em;
}

.font-weight-bold {
  font-weight: bold;
}

p.lead {
  font-size: 18px;
  font-weight: normal;
}

  p.quote {
    font-size: 27px;
    font-weight: 300;
  }

.yellow-underline {
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(.27em,rgba(254, 191, 0, 0.85)));
    background-image: linear-gradient(transparent calc(100% - .27em),rgba(254, 191, 0, 0.85) .27em);
    background-repeat: no-repeat;
    background-size: 100% 91%;
    display: inline;
    font-weight: bold;
    -webkit-transition: background-size .2s ease-out;
    transition: background-size .2s ease-out;
    text-decoration: none;
}

h1,.h1 {
  font-family: "Gilroy-bold";
  font-size: 56px;
  margin: 1em 0;
}

h2 {
  font-family: "Gilroy-bold";
  font-size: 46px;
}

h2.custom {
  font-size: 90px;
  line-height: 80px;
  right: 60px;
  margin: 0;
  margin-bottom: 84px;
  font-family: "Gilroy-bold";
  text-transform: uppercase;
}

h2.custom sup {
  top: -2.5em;
  font-size: 22%;
}


h3 {
  font-size: 24px;
  line-height: 1.4;

}

.display-2 {
  font-size: 36px;
  font-family: "Gilroy-bold";
}

h3 .serif,
h3.serif {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
}

h3 sup {
  top: -1.25em;
  font-size: 40%;
}


h5 {
  font-family: "Gilroy-bold";
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.4;

}

.red-link {
  color: #FC4545;
  border-bottom: 1px solid #FC4545;
}

.white-link {
  font-family: "Gilroy-bold";
  color: #fff;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  padding-bottom: 5px
}

.underline {
  text-decoration: underline;
}

.text-red {
  color: #FC4545;
}

.text-yellow {
  color: #FEBF00;
}

/*Form*/

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
  font-size: 85%;
}

/*Colors*/

.bg-gray {
  background-color: #F8F8F8;
  overflow: hidden;
}


.yellow {
  color: #FEBF00;
}

.red {
  color: #FC4545;
}

.antracite {
  color: #3C435C;
}

.bg-red {
  background-color: #FC4545;
}

.bg-green {
  background-color: #23db95;
}

.bg-antracite {
  background-color: #3C435C;
}

.bg-antracite-dark {
  background-color: #293046;
}


.bg-yellow {
  background-color: #FEBF00;
}

.bg-litegray {
  background-color: #3C435C;
}

.bg-blue {
  background-color: #50B6FF;
}

/*Spacing*/

@media (min-width: 992px) {

  .mt-lg-10,
  .my-lg-10 {
    margin-top: 10rem !important;
  }

  .mb-lg-10,
  .my-lg-10 {
    margin-bottom: 10rem !important;
  }

  .mt-lg-15,
  .my-lg-15 {
    margin-top: 15rem !important;
  }

  .mb-lg-15,
  .my-lg-15 {
    margin-bottom: 15rem !important;
  }

  .mt-lg-20,
  .my-lg-20 {
    margin-top: 20rem !important;
  }

  .p-lg-7 {
    padding: 7rem !important;
  }
}

.block {
  margin: 0 15px;
  padding: 7rem 0;
}

/*Buttons*/

.btn,
.hbspt-form .hs-button {
  font-weight: bold;
  border-radius: 100px;
  padding: 0.75rem 3rem;
}

.hbspt-form .hs-button {
  border: none;
  color: #fff;
}


.btn-primary,
.hbspt-form .hs-button{
  background-color: #FC4545;
  border-color: #FC4545;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.hbspt-form .hs-button:hover {
  background-color: #DB3535;
  border-color: #DB3535;
}


.btn-secondary {
  background-color: #000;
  border-color: #000;
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #000;
  border-color: #000;
}

.btn-light {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    border-width: 2px;
}

.btn-light:hover,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  border-width: 2px;
  background: transparent;
  color: #fff;
}


/*Steps*/

.c-steps.second .c-step:after {
  content: "02";
}

.c-steps.third .c-step:after {
  content: "03";
}

/*Header*/

header .bg-light {
  background-color: #fff !important;
}

header:before {
    display: inline-block;
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: url(../img/bg-grid-small.svg) repeat-x left top;
    background-size: auto;
    z-index: 555;
}

.navbar .rubik-temp-logo img {
  float: left;
  max-width: 100%;
  border: 1px solid #000;
  margin-top: -6px;
}

header .fixed-top {
  top: 5px;
}


/*Hero*/

.intro {
  min-height: 300px;
}


/*Parallax Backgrounds*/

.parallax {
  padding: 10rem 0;
}

.parallax-bg-1 {
  background: url(../img/intro-s-2-bg.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 15px;
}

.parallax-bg-2 {
  background: url(../img/intro-s-5-bg.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 15px;
  min-height: 80vh;
}

/* Products page*/

.hero.products-first {
  background: url(../img/easy-data.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
  background-attachment: fixed;
}

.hero.products-second {
  background: url(../img/intro-s-2-bg.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
}

.hero.products-first .card {
  margin-bottom: -11rem;
  margin-top: 8rem;
}

.hero.products-first .card,
.hero.products-second .card {
  margin-bottom: -11rem;
  margin-top: 15rem;
}


.features-table .badge-light {
  font-family: "Gilroy-bold";
  font-size: 18px;
  position: absolute;
  top: 43px;
  left: 70px;
}

.features-table .badge-red {
  font-family: "Gilroy-bold";
  font-size: 18px;
  position: absolute;
  top: 43px;
  left: 70px;
  color: #FC4545;
  background-color: #fff;
}

.dataos-scheme {
  background: url(../img/dataos-bg.svg) center center no-repeat;
}

/* Why Modern*/
.intro.why-modern {
  background: url(../img/why-modern-header.png) top right no-repeat #FC4545;
}

.hero.why-modern-first {
  background: url(../img/data-value.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
}

/* Learning Center*/
.intro.learning-center {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #3AABF4;
  background-attachment: fixed;
}



/* Why Modern*/
.intro.why-modern {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #FEBF00;
  background-attachment: fixed;
}

.hero.why-modern-first {
  background: url(../img/data-value.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
}

/*Products*/
  .intro.products {
    min-height: 500px;
    background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #FEBF00;
    background-attachment: fixed;
  }

.hero.case-study-1 {
  background: url(../img/case-study-1-bg.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
  background-attachment: fixed;
}

.hero.case-study-2 {
  background: url(../img/case-study-2-bg.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
  background-attachment: fixed;
}

.hero.case-study-1 .card,
.hero.case-study-2 .card {
  margin-bottom: -11rem;
  margin-top: 12rem;
}


.hero.why-modern-first {
  background: url(../img/data-value.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
  background-attachment: fixed;
}



/* Company*/
.intro.company {
  background: url(../img/company-header.png) top right no-repeat #FEBF00;
}

.hero.company-first {
  background: url(../img/bg-abstract.jpg) top left no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 5rem 0;
  background-attachment: fixed;
}

.hero.company-first .card {
  margin-bottom: -11rem;
  margin-top: 6rem;
}

/* Get a demo*/
.intro.demo {
  background: url(../img/get-a-demo-header.png) top right no-repeat #23DB95;
}

/*Contact Us*/
.contacts-bg {
  background: url(../img/bg-form.png) top right no-repeat #F8F8F8;
}



/*Privacy Policy*/

.privacy h2 {
  text-transform: capitalize;
  color: #000;
  font-size: 2.2rem;
}

.privacy h3 {
  color: #000;
  font-size: 1.8rem;
}


/*Footer*/


footer {
  background-color: #000;
  font-size: 15px;
}

@media (max-width: 960px) {
footer {
  background-color: #000;
  font-size: 13px;
}
  }

footer a {
  color: #fff;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer a.email {
  text-decoration: underline;
}

footer a.email:hover {
  color: #fff;
}

footer .border-left {
  border-left: 1px solid #fff;
}

footer .footer-nav a {
  color: #9F9F9F;
}

footer .footer-nav a:hover {
  color: #fff;
}


/*Mobile UI*/

.navbar-light .navbar-toggler-icon {
  background: url(../img/mobile-nav.svg) center center no-repeat;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: transparent;
}

.navbar-toggler {
  padding: .25rem 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-light .navbar-toggler:focus {
  outline: none;

}

@media (max-width: 960px) {
  .c-step {
    min-width: 100%;
  }

}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }


  h2 {
    font-size: 1.6rem;
  }

  h2.display_2 {
    font-size: 3rem;
    text-transform: uppercase;
  }



  h2.custom {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.4rem;
  }
  
  h3.display-2 {
    font-size: 1.4rem;
  }

  h3 .serif,
  h3.serif {
    font-size: 1.7rem;
    line-height: auto;
  }
  
  h3.accordion-header {
    font-size: 1rem;
  }

  p.quote {
    font-size: 20px;
  }
  
  p.lead {
    font-size: 16px;
  }

  .carousel-item {
    height: 25rem;
  }

  .strike-x img {
    width: 105px;
}
  
  .special-height {
    height: auto !important;
}
  
  #mobile-comparison {
    padding: 0 15px;
  }

  #mobile-comparison .versus {
    position: relative;
    display: inline;
    margin-left: 0;
    font-size: 1rem;
    padding: 10px;
    left: 0;
    top: 0;
    margin-top: 0;
  }

  #mobile-comparison .carousel-caption {
    top: 0;
  }


  .carousel-control-next-icon {
    background-image: url(../img/chevron-right.svg);

  }

  .carousel-control-prev-icon {
    background-image: url(../img/chevron-left.svg);
  }

  .block {
    padding: 5rem 0;
  }

  .intro.products h1 {
    font-size: 2rem;
  }

  .intro.products {
    min-height: 290px;
    background: url(../media/hero-white-pattern-right-bg.svg) top right no-repeat #FEBF00;
    background-attachment: fixed;
  }
  


  .hero.products-second .card {
    margin-bottom: 0;
    margin-top: 15rem;
  }

  .dataos-scheme {
    background: none;
  }

  .hero.case-study-1 .card,
  .hero.case-study-2 .card {
    margin-bottom: 0;
    margin-top: 12rem;
  }

  .hero.case-study-1 {
    padding-bottom: 0;
  }

  .intro.why-modern {
    background: none;
    background-color: #FC4545;
  }

  
  .intro.company {
    background: none;
    background-color: #FEBF00;
  }

  .intro.demo {
    background: none;
    background-color: #23DB95;
  }

  .contacts-bg {
    background: none;
    background-color: #F8F8F8;
  }

}


/*-- NEW MODERN design Boostrap based--*/

/*Backgrounds*/
#homepage-hero .carousel-item {
  height: 35rem;
}

#homepage-hero .main.carousel-item {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #FC4545;
  background-attachment: fixed;
}


#homepage-hero .yellow.carousel-item {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #FEBF00;
  background-attachment: fixed;
}

#homepage-hero .dark.carousel-item {
  background: url(../media/hero-color-pattern-left-bg.svg) top left no-repeat #293046;
  background-attachment: fixed;
}



#homepage-hero .carousel-caption {
  top: 8%;
}

.pattern-bg-right {
  background: url("../media/hero-right-pattern-bg.svg") top right no-repeat;
  background-attachment: fixed;
}


.pattern-bg-left {
  background: url("../media/hero-left-pattern-bg.svg") top left no-repeat;
  background-attachment: fixed;
}

.bg-pattern-yellow-right {
  background: url("../media/hero-white-pattern-right-bg-wide.svg") top right no-repeat #FEBF00;
}

.bg-pattern-yellow-left {
  background: url("../media/hero-white-pattern-left-bg.svg") top left no-repeat #FEBF00;
}

.bg-data {
  background: url("../media/bg-data.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contacts-bg {
  background: url("../media/bg-data-wide.jpg") bottom center no-repeat #000820;
  background-size: contain;
}


/*Spacing*/

@media (min-width: 960px) {
.mb-n7 {
  margin-bottom: -7rem;
}

.mt-n7 {
  margin-top: -16rem;
}
  }

/*Accordion*/
.accordion-button {
  font-size: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
}

/*Other*/

.special-height {
  height: 260px;
}

.resources-card {
  box-shadow: 0 4px 17px rgba(0,0,0,0.05);
}

.strike-x,
.strike-x-2 {
  display: inline-block;
}

.strike-x img {
  position: absolute;
}


.strike-x-2 img {
  position: absolute;
  width: 60px;
  margin-top: 4px;
}

.middle > * {
  vertical-align: middle;
}


/*Blog*/
.posts-grid {
  margin-top: -22rem;
}
.intro.blog {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat #FEBF00;
  background-attachment: fixed;
  min-height: 300px;
}

.intro.blog-post {
  background: url(../media/hero-white-pattern-left-bg.svg) top left no-repeat;
  background-attachment: fixed;
}

.blog.card {
  box-shadow: 0 2px 10px rgba(0,0,0,.08)!important;
}

.blog-date {
  font-weight: bold;
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(.27em,rgba(254, 191, 0, 0.85)));
    background-image: linear-gradient(transparent calc(100% - .27em),rgba(254, 191, 0, 0.85) .27em);
    background-repeat: no-repeat;
    background-size: 100% 91%;
    display: inline;
    -webkit-transition: background-size .2s ease-out;
    transition: background-size .2s ease-out;
}

.post-article {
  margin-top: -20rem;
}

/*Search*/
.bcs-host-div {
    background-color: transparent !important;
}

.bcs-result {
    background: #fff !important;
    margin-bottom: 20px !important;
    box-shadow: 0 4px 17px rgb(0 0 0 / 5%);

}

#bcs-results-div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.bcs-container-searchbox {
    font: 18px/normal 'Roboto',Arial,Helvetica,Sans-Serif !important;
    background-color: #fff !important;
}

.bcs-searchbox {
    max-height: 35px !important;
}

.header-search {
  border-radius: 50px;
}

.header-search .form-control {
    padding: .3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: none;
}

.header-search .btn-light {
    background-color: transparent;
}
.header-search .btn {
    text-transform: uppercase;
    border-radius: 0;
    padding: 9px 13px 2px 13px;
    box-shadow: none;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    line-height: 1;
}

.header-search .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.bcs-container-searchbox {
  display: none !important;
}