<!--Subscribe-->
      <div class="blog card rounded-0 border-0 bg-red mb-3">
        <div class="card-body text-center text-white p-5">
          <h3 class="mb-2 mt-0">Subscribe to Our Blog</h3>
          <p>Be the first to know about the latest insights from The Modern Data Company.</p>
          <div id="hubspot-newsletter">
          <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "9492706",
                formId: "ebc8d441-330f-40a9-b2f4-66442e986f54"
            });
            </script>
            </div>
        </div>
      </div> 
      
      <!--People Also Read-->
      <div class="blog card rounded-0 border-0 mb-3">
        <div class="card-body p-4">
          <h3 class="mb-5 text-center">People Also Read</h3>
          
          <!--Four Ways Companies Can Build Next-Level Analytics Capabilities-->
          <a href="{{ site.baseurl }}/blog/next-level-analytics.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/4-ways-analytics.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="Four Ways Companies Can Build Next-Level Analytics Capabilities">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">Four Ways Companies Can Build Next-Level Analytics Capabilities</p>
              </div>
            </div>
          </a>
          
          
          <!--Reducing Risk and Increasing Data’s Value in Healthcare-->
          <a href="{{ site.baseurl }}/blog/data-value-in-healthcare.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/data-value-in-healthcare.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="Reducing Risk and Increasing Data’s Value in Healthcare">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">Reducing Risk and Increasing Data’s Value in Healthcare</p>
              </div>
            </div>
          </a>
          
          <!--How Data Fabric is Changing Data Privacy for Good-->
          <a href="{{ site.baseurl }}/blog/data-fabric-changing-data-privacy.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/Data Fabric Changing Data Privacy.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="How Data Fabric is Changing Data Privacy for Good">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">How Data Fabric is Changing Data Privacy for Good</p>
              </div>
            </div>
          </a>
          
          <!--Bulletproof your data strategy from the business side-->
          <a href="{{ site.baseurl }}/blog/bulletproof-data-strategy.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/Bulletproof Data Strategy.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="Bulletproof your data strategy from the business side">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">Bulletproof your data strategy from the business side</p>
              </div>
            </div>
          </a>
          
          <!--5 Signs Your Organization is Becoming Data-Driven-->
          <a href="{{ site.baseurl }}/blog/5-signs-your-organization-is-becoming-data-driven.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/5 Signs Your Organization is Becoming Data-Driven.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="5 Signs Your Organization is Becoming Data-Driven">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">5 Signs Your Organization is Becoming Data-Driven</p>
              </div>
            </div>
          </a>
          
          <!-- Poor Data Health is Costly but Improving is Easier Than Ever-->
          <a href="{{ site.baseurl }}/blog/poor-data-health-is-costly.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/Poor Data Health is Costly.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="Poor Data Health is Costly but Improving is Easier Than Ever">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">Poor Data Health is Costly but Improving is Easier Than Ever</p>
              </div>
            </div>
          </a>
          
          <!-- Technology and Data in Urban Design and Urban Management-->
          <a href="{{ site.baseurl }}/blog/technology-and-data-in-urban-design-and-management.html" class="d-flex gap-3 mb-4">
             <img src="{{ site.baseurl }}/media/blog/Technology and Data in Urban Design.jpg" width="100" height="51" class="rounded-0 flex-shrink-0" alt="Technology and Data in Urban Design and Urban Management">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="mb-0 mt-0">Technology and Data in Urban Design and Urban Management</p>
              </div>
            </div>
          </a>

        </div>
      </div>
      
      <!--Featured resource-->
      <div class="blog card rounded-0 border-0 bg-yellow mb-3">
        <div class="card-body text-center p-5">
          <div class="featured-tag-2">Featured</div>
          <ul class="randomize list-unstyled">
            <!--A Modern Data Strategy for the U.S. Department of Defense-->
            <li>
              <img data-src="../media/resources/whitepaper-defense.png" width="206" height="225" alt="A Modern Data Strategy for the U.S. Department of Defense" class="mb-3">
              <h3 class="mb-4 mt-0">A Modern Data Strategy for the U.S. Department of Defense</h3>
              <a href="https://info.themoderndatacompany.com/modern-data-strategy-for-defense" class="btn btn-primary">Download</a>         
            </li>
            <!--Modern DataOS Overview-->
            <li>
              <img data-src="../media/resources/dataos-overview.png" width="206" height="225" alt="Modern DataOS Overview" class="mb-3">
              <h3 class="mb-4 mt-0">Modern DataOS Overview</h3>
              <a href="../media/resources/download/DataOS_Solution_Brief.pdf" class="btn btn-primary">Download</a>       
            </li>
            <!--A Modern Data Strategy for Enterprises-->
            <li>
              <img data-src="../media/resources/whitepaper-strategy-enteprises.png" width="206" height="225" alt="A Modern Data Strategy for Enterprises" class="mb-3">
              <h3 class="mb-4 mt-0">A Modern Data Strategy for Enterprises</h3>
              <a href="https://info.themoderndatacompany.com/modern-data-strategy-for-enterprises" class="btn btn-primary">Download</a>       
            </li>
            <!--Data Security and Governance in DataOS-->
            <li>
              <img data-src="../media/resources/whitepaper-data-security.png" width="206" height="225" alt="Data Security and Governance in DataOS" class="mb-3">
              <h3 class="mb-4 mt-0">Data Security and Governance in DataOS</h3>
              <a href="https://info.themoderndatacompany.com/data-security-and-governance" class="btn btn-primary">Download</a>       
            </li>
            <!--DataOS the Modern Data Fabric-->
            <li>
              <img data-src="../media/resources/whitepaper-dataos-modern-data-fabric.png" width="206" height="225" alt="DataOS the Modern Data Fabric" class="mb-3">
              <h3 class="mb-4 mt-0">DataOS the Modern Data Fabric</h3>
              <a href="https://info.themoderndatacompany.com/dataos-modern-data-fabric" class="btn btn-primary">Download</a>       
            </li>
          </ul>
        </div>
      </div> 
      
      <!--Latest resources-->
      <div class="blog card rounded-0 border-0 mb-3">
        <div class="card-body p-4">
          <h3 class="mb-5 text-center">Latest resources</h3>
          
          <!--Global Design and Architecture Firm Optimizes Space Utilization Data using TMDC DataOS-->
          <a href="/resources/case-study-architecture.html" class="d-flex gap-3 mb-5">
             <span style="fill: #6c757d; opacity: 0.5;">
              <svg xmlns="http://www.w3.org/2000/svg" width="42.041" height="44" viewBox="0 0 22.041 24">
              <g id="white_papers" data-name="white papers" transform="translate(-1956.354 -999.208)">
                <path id="Path_20182" data-name="Path 20182" d="M1976.1,1003.208h-12a2.752,2.752,0,0,0-2.75,2.75v15a2.752,2.752,0,0,0,2.75,2.75h12a2.753,2.753,0,0,0,2.75-2.75v-15A2.753,2.753,0,0,0,1976.1,1003.208Zm1.25,2.75v15a1.252,1.252,0,0,1-1.25,1.25h-12a1.251,1.251,0,0,1-1.25-1.25v-15a1.251,1.251,0,0,1,1.25-1.25h12A1.252,1.252,0,0,1,1977.354,1005.958Z" transform="translate(-0.459 -0.5)"></path>
                <path id="Path_20183" data-name="Path 20183" d="M1960.1,1018.743h-1a1.237,1.237,0,0,1-1.25-1.221v-15.628a1.237,1.237,0,0,1,1.25-1.221h12a1.237,1.237,0,0,1,1.25,1.221.75.75,0,0,0,1.5,0,2.722,2.722,0,0,0-2.75-2.686h-12a2.721,2.721,0,0,0-2.75,2.686v15.628a2.721,2.721,0,0,0,2.75,2.686h1a.733.733,0,1,0,0-1.465Z"></path>
                <path id="Path_20184" data-name="Path 20184" d="M1974.183,1016.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.379)"></path>
                <path id="Path_20185" data-name="Path 20185" d="M1974.183,1012.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.293)"></path>
                <path id="Path_20186" data-name="Path 20186" d="M1974.183,1008.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.206)"></path>
              </g>
            </svg>
             </span>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="text-red label-asset-type my-0">CASE STUDY</p>
                <p class="mb-0 mt-0">Global Design and Architecture Firm Optimizes Space Utilization Data using Modern Data’s DataOS</p>
              </div>
            </div>
          </a>
          
          <!--$20 Billion Alcohol Distributor Increases Revenue Through Their Digital Channels with TMDC’s DataOS-->
          <a href="/resources/case-study-distribution.html" class="d-flex gap-3 mb-5">
             <span style="fill: #6c757d; opacity: 0.5;">
              <svg xmlns="http://www.w3.org/2000/svg" width="42.041" height="44" viewBox="0 0 22.041 24">
              <g id="white_papers" data-name="white papers" transform="translate(-1956.354 -999.208)">
                <path id="Path_20182" data-name="Path 20182" d="M1976.1,1003.208h-12a2.752,2.752,0,0,0-2.75,2.75v15a2.752,2.752,0,0,0,2.75,2.75h12a2.753,2.753,0,0,0,2.75-2.75v-15A2.753,2.753,0,0,0,1976.1,1003.208Zm1.25,2.75v15a1.252,1.252,0,0,1-1.25,1.25h-12a1.251,1.251,0,0,1-1.25-1.25v-15a1.251,1.251,0,0,1,1.25-1.25h12A1.252,1.252,0,0,1,1977.354,1005.958Z" transform="translate(-0.459 -0.5)"></path>
                <path id="Path_20183" data-name="Path 20183" d="M1960.1,1018.743h-1a1.237,1.237,0,0,1-1.25-1.221v-15.628a1.237,1.237,0,0,1,1.25-1.221h12a1.237,1.237,0,0,1,1.25,1.221.75.75,0,0,0,1.5,0,2.722,2.722,0,0,0-2.75-2.686h-12a2.721,2.721,0,0,0-2.75,2.686v15.628a2.721,2.721,0,0,0,2.75,2.686h1a.733.733,0,1,0,0-1.465Z"></path>
                <path id="Path_20184" data-name="Path 20184" d="M1974.183,1016.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.379)"></path>
                <path id="Path_20185" data-name="Path 20185" d="M1974.183,1012.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.293)"></path>
                <path id="Path_20186" data-name="Path 20186" d="M1974.183,1008.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.206)"></path>
              </g>
            </svg>
             </span>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="text-red label-asset-type my-0">CASE STUDY</p>
                <p class="mb-0 mt-0">$20 Billion Alcohol Distributor Increases Revenue Through Their Digital Channels with Modern Data’s DataOS</p>
              </div>
            </div>
          </a>
          
          <!--Multi-billion Dollar Government Transportation Agencies Can Improve their Data Governance using TMDC’s DataOS-->
          <a href="/resources/case-study-government.html" class="d-flex gap-3 mb-5">
             <span style="fill: #6c757d; opacity: 0.5;">
              <svg xmlns="http://www.w3.org/2000/svg" width="42.041" height="44" viewBox="0 0 22.041 24">
              <g id="white_papers" data-name="white papers" transform="translate(-1956.354 -999.208)">
                <path id="Path_20182" data-name="Path 20182" d="M1976.1,1003.208h-12a2.752,2.752,0,0,0-2.75,2.75v15a2.752,2.752,0,0,0,2.75,2.75h12a2.753,2.753,0,0,0,2.75-2.75v-15A2.753,2.753,0,0,0,1976.1,1003.208Zm1.25,2.75v15a1.252,1.252,0,0,1-1.25,1.25h-12a1.251,1.251,0,0,1-1.25-1.25v-15a1.251,1.251,0,0,1,1.25-1.25h12A1.252,1.252,0,0,1,1977.354,1005.958Z" transform="translate(-0.459 -0.5)"></path>
                <path id="Path_20183" data-name="Path 20183" d="M1960.1,1018.743h-1a1.237,1.237,0,0,1-1.25-1.221v-15.628a1.237,1.237,0,0,1,1.25-1.221h12a1.237,1.237,0,0,1,1.25,1.221.75.75,0,0,0,1.5,0,2.722,2.722,0,0,0-2.75-2.686h-12a2.721,2.721,0,0,0-2.75,2.686v15.628a2.721,2.721,0,0,0,2.75,2.686h1a.733.733,0,1,0,0-1.465Z"></path>
                <path id="Path_20184" data-name="Path 20184" d="M1974.183,1016.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.379)"></path>
                <path id="Path_20185" data-name="Path 20185" d="M1974.183,1012.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.293)"></path>
                <path id="Path_20186" data-name="Path 20186" d="M1974.183,1008.665h-7.955a.75.75,0,0,0,0,1.5h7.955a.75.75,0,0,0,0-1.5Z" transform="translate(-0.321 -0.206)"></path>
              </g>
            </svg>
             </span>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <p class="text-red label-asset-type my-0">CASE STUDY</p>
                <p class="mb-0 mt-0">Multi-billion Dollar Government Transportation Agencies Can Improve their Data Governance using The Modern Data Company’s DataOS</p>
              </div>
            </div>
          </a>
          
        </div>
      </div>