<ul class="list-unstyled">
  <li class="mb-2"><a href="/careers/technical-account-manager.html" class="border-bottom d-block pb-3 fw-bold">Technical Account Manager (TAM) </a></li>
  <li class="mb-2"><a href="/careers/sales-engineer.html" class="border-bottom d-block pb-3 fw-bold">Sales Engineer / Solutions Architect </a></li>
  <li class="mb-2"><a href="/careers/enterprise-account-executive.html" class="border-bottom d-block pb-3 fw-bold">Enterprise Account Executive (EA)</a></li>
  <li class="mb-2"><a href="/careers/customer-operations-engineer.html" class="d-block fw-bold text-red">Customer Operations Engineer - Government</a></li>
</ul>  