<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-sm">
  <div class="container-fluid">
    <a href="{{ site.baseurl }}/" class="me-3"><img src="{{ site.baseurl }}/img/main-logo-small.svg" alt="The Modern Data Company"></a><a href="https://rubik.ai/old/" class="rubik-temp-logo d-none d-md-block"><img src="{{ site.baseurl }}/img/rubik-temp-logo.png" alt="Formerly Rubik_"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/products.html" class="nav-link">Products</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/resources.html" class="nav-link">Resources</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/why-modern.html" class="nav-link">Why Modern</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/company.html" class="nav-link">Company</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/blog.html" class="nav-link">Blog</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/get-a-demo.html" class="nav-link">Get a Demo</a></li>
          <li class="nav-item ml-xl-3 text-center text-lg-left py-2 py-lg-0"><a href="{{ site.baseurl }}/contact-us.html" class="nav-link">Contact Us</a></li>
          <li class="nav-item ms-lg-3 pt-1">
            <form method="get" action="{{ site.baseurl }}/search.html?customconfig=94cfc2c8-416c-454a-883d-d8deb836ff08&version=latest&market=en-US&safesearch=Moderate&">
              <div class="header-search input-group border ps-3">
                <input type="text" id="q" name="q" class="form-control" placeholder="Search site">
                <div class="input-group-append">
                  <button class="btn btn-light" type="submit" id="submit"><img src="{{ site.baseurl }}/media/icons/icon-search-s.svg" alt="Search-"> </button>
                </div>
              </div>
            </form>
          </li>
        </ul>
    </div>
  </div>
</nav>
</header>

