<header>
  <nav class="navbar navbar-expand-xl navbar-light bg-light py-3 shadow-sm">
    <div class="container-fluid">
      <div class="d-block me-3 ms-3 mt-1 logos-container">
      <a href="{{ site.baseurl }}/" class="pt-1"><img src="{{ site.baseurl }}/img/main-logo-small.svg" alt="The Modern Data Company"></a>
      <a href="https://rubik.ai/old/#home" class="rubik-logo pt-0 float-end" target="_blank"><img src="{{ site.baseurl }}/media/rubik.svg" alt="Rubik"></a>
      </div>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-lg-auto">
            
            
            <!--<li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/NetZero.html' %}active{% endif %}"><a href="{{ site.baseurl }}/NetZero.html" class="nav-link mt-lg-1">Net Zero</a></li>-->
            
            
          
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/products.html' %}active{% endif %}"><a href="{{ site.baseurl }}/products.html" class="nav-link mt-lg-1">Products</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/learning-from-data.html' %}active{% endif %}"><a href="{{ site.baseurl }}/learning-from-data.html" class="nav-link mt-lg-1">Resources</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/why-modern.html' %}active{% endif %}"><a href="{{ site.baseurl }}/why-modern.html" class="nav-link mt-lg-1">Why Modern</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/company.html' %}active{% endif %}"><a href="{{ site.baseurl }}/company.html" class="nav-link mt-lg-1">Company</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/blog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/blog.html" class="nav-link mt-lg-1">Blog</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/data-management-solution-demo.html' %}active{% endif %}"><a href="{{ site.baseurl }}/data-management-solution-demo.html" class="nav-link mt-lg-1">Get a Demo</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 {% if page.url contains '/contact-us.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact-us.html" class="nav-link mt-lg-1">Contact Us</a></li>
          <li class="nav-item ms-xl-2 text-center text-lg-left py-2 py-lg-0 me-xl-3">
            <div class="nav-link" style="margin-top: 1px;">
              <form method="get" action="{{ site.baseurl }}/search.html?customconfig=94cfc2c8-416c-454a-883d-d8deb836ff08&version=latest&market=en-US&safesearch=Moderate&">
                <div class="header-search input-group border-bottom rounded-0 my-5 my-lg-0">
                  <input type="text" id="q" name="q" class="form-control ps-0" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="submit" id="submit"><img src="{{ site.baseurl }}/media/icons/icon-search-s.svg" alt="Search-"> </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
        </ul>

        <!--<div class="d-grid col-8 col-lg-auto mx-auto me-lg-1 mb-4 mb-lg-0">
          <a href="{{ site.baseurl }}/get-a-demo.html" class="btn btn-dark ms-xl-4 py-1 px-4" title="Get a Demo">Get a demo</a>
        </div>
        <div class="d-grid col-8 col-lg-auto mx-auto mx-lg-0 me-lg-1 mb-4 mb-lg-0">
          <a href="{{ site.baseurl }}/contact-us.html" class="btn btn-outline-dark ms-xl-2 py-1 px-4" title="Get a Demo">Contact Us</a>
        </div>-->

      </div>
    </div>
  </nav>
</header>
