---
layout: default
title: "Architecture - The Modern Data Company"
excerpt: "Modern data company"
---
<!--Learning center intro-->
<div class="intro resources p-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="">
          <h1 class="mb-1 mt-0 text-white">Architecture</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Resources types navigation-->
 {% include resources-nav.html %}


<div class="bg-gray py-5">
  <div class="container">
    <div class="row">
      
      <!--Sidebar-->
      <div class="col-lg-2">
        {% include resources-topics.html %}
      </div>
      
      <!--Main-->
      <div class="col-lg-10">      

        <!--Design and Architecture Case Study -->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-architecture.html">
              <img src="../media/resources/casestudy-architecture.png" alt="Global Design and Architecture">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-architecture.html">Global Design and Architecture Firm Optimizes Space Utilization Data using TMDC DataOS
</a></h2>
            <p class="mb-4">Learn how DataOS helped TMDC’s customer reduce time in collecting and understanding data from multiple and varied sources, speeding up data analyses. Business teams are now able to focus more on data insights and also syndicate data-to-data destinations without worrying about data security.
</p>
            <a href="/resources/case-study-architecture.html" class="red-link">Download</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Footer CTA-->
{% include resources-footer-cta.html %}


