---
layout: default
title: "Whitepapers - The Modern Data Company"
excerpt: "Modern data company"
---
<!--Learning center intro-->
<div class="intro resources p-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="">
          <h1 class="mb-1 mt-0 text-white">Case Studies</h1>
          <p class="text-white">Resources about The Modern Data Fabric.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Resources types navigation-->
 {% include resources-nav.html %}


<div class="bg-gray py-5">
  <div class="container">
    <div class="row">
      
      <!--Sidebar-->
      <div class="col-lg-2">
        {% include resources-topics.html %}
      </div>
      
      <!--Main-->
      <div class="col-lg-10">
      
        <!--Design and Architecture Case Study -->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-architecture.html">
              <img src="../media/resources/casestudy-architecture.png" alt="Global Design and Architecture">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-architecture.html">Global Design and Architecture Firm Optimizes Space Utilization Data using TMDC DataOS
</a></h2>
            <p class="mb-4">Learn how DataOS helped TMDC’s customer reduce time in collecting and understanding data from multiple and varied sources, speeding up data analyses. Business teams are now able to focus more on data insights and also syndicate data-to-data destinations without worrying about data security.
</p>
            <a href="/resources/case-study-architecture.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Distribution Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-distribution.html">
              <img src="../media/resources/casestudy-distribution.png" alt="Distribution">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-distribution.html">$20 Billion Alcohol Distributor Increases Revenue Through Their Digital Channels with TMDC’s DataOS</a></h2>
            <p class="mb-4">Read how the largest wine and spirits distributor in the US leveraged DataOS to optimize sales and marketing operations and to increase the value of their advertising inventory. Within six weeks, TMDC  helped establish a single source of data, centralized governance, data discovery, real-time data and processing, and the ability to securely syndicate.</p>
            <a href="/resources/case-study-distribution.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Government Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-government.html">
              <img src="../media/resources/casestudy-government.png" alt="Government">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-government.html">Multi-billion Dollar Government Transportation Agencies Can Improve their Data Governance using TMDC’s DataOS
</a></h2>
            <p class="mb-4">Bogged down by multiple systems that produce large amounts of valuable data to inform decision-making and provide transparency to stakeholders, large government agencies can rely on DataOS to rein in large volumes of data while simultaneously ensuring data quality, data security, and flexible governance.</p>
            <a href="/resources/case-study-government.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Healthcare Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-healthcare.html">
              <img src="../media/resources/casestudy-healthcare.png" alt="Healthcare">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-healthcare.html">Major American Healthcare Firm Enriches their Data Quality Deploying TMDC’s DataOS</a></h2>
            <p class="mb-4">Leveraging DataOS enabled TMDC’s healthcare client to keep up with major challenges like changing compliance regulations and advanced treatment options that combined to create a large influx of data that had to be appropriately accessed, stored, and managed.
</p>
            <a href="/resources/case-study-healthcare.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Life Sciences Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-life-sciences.html">
              <img src="../media/resources/casestudy-life-sciences.png" alt="Life Sciences">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-life-sciences.html">Billion-dollar Pharmaceutical Giant Accomplishes Faster Data Insights using TMDC’s DataOS
</a></h2>
            <p class="mb-4">Discover how, within six weeks, TMDC helped one of the largest multinational pharmaceutical organizations in the world integrate data from multiple data sources, automate data quality and audit trails, and enable researchers to efficiently find and analyze drug development data.</p>
            <a href="/resources/case-study-life-sciences.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Logistics Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-logistics.html">
              <img src="../media/resources/casestudy-logistics.png" alt="Logistics">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-logistics.html">$1 Billion Logistics Company Improves their Customer’s Shipment Tracking Experience using TMDC’s DataOS</a></h2>
            <p class="mb-4">See how TMDC helped a billion-dollar logistics client make the shift to digital with DataOS, providing a single source of data, data discovery, real-time data, and processing. This transformation enabled the client to showcase real-time status of their shipment to their customer.
</p>
            <a href="/resources/case-study-logistics.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Retail Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-retail.html">
              <img src="../media/resources/casestudy-retail.png" alt="Retail">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-retail.html">Global Retail and E-commerce Firm Improves Shopping Experience of its Customers using TMDC’s DataOS</a></h2>
            <p class="mb-4">Discover why a global retail giant chose TMDC’s DataOS to manage the data generated by their 1.2 billion online listings. DataOS enabled the client to understand their customers better and improve their overall shopping experience.</p>
            <a href="/resources/case-study-retail.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Clothing Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-clothing.html">
              <img src="../media/resources/casestudy-clothing.png" alt="Retail Clothing">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-clothing.html">Global Retailer Leverages Real-Time Omni-Channel Customer Insights with TMDC DataOS</a></h2>
            <p class="mb-4">Discover how DataOS helped TMDC’s customer’s marketing teams create a true omni-channel view of their customer base that is updated in real-time by leveraging DataOS’s streaming pipelines to ingest multiple sources of customer data simultaneously. Based on user profiles, the customer can now suggest personalized products to the right user.
</p>
            <a href="/resources/case-study-clothing.html" class="red-link">Download</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Footer CTA-->
{% include resources-footer-cta.html %}


