---
layout: default
title: "Data Access - The Modern Data Company"
excerpt: "Modern data company"
---
<!--Learning center intro-->
<div class="intro resources p-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="">
          <h1 class="mb-1 mt-0 text-white">Data Access</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Resources types navigation-->
 {% include resources-nav.html %}


<div class="bg-gray py-5">
  <div class="container">
    <div class="row">
      
      <!--Sidebar-->
      <div class="col-lg-2">
        {% include resources-topics.html %}
      </div>
      
      <!--Main-->
      <div class="col-lg-10">   
        <!--Distribution Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-distribution.html">
              <img src="../media/resources/casestudy-distribution.png" alt="Distribution">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-distribution.html">$20 Billion Alcohol Distributor Increases Revenue Through Their Digital Channels with TMDC’s DataOS</a></h2>
            <p class="mb-4">Read how the largest wine and spirits distributor in the US leveraged DataOS to optimize sales and marketing operations and to increase the value of their advertising inventory. Within six weeks, TMDC  helped establish a single source of data, centralized governance, data discovery, real-time data and processing, and the ability to securely syndicate.</p>
            <a href="/resources/case-study-distribution.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Logistics Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-logistics.html">
              <img src="../media/resources/casestudy-logistics.png" alt="Logistics">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-logistics.html">$1 Billion Logistics Company Improves their Customer’s Shipment Tracking Experience using TMDC’s DataOS</a></h2>
            <p class="mb-4">See how TMDC helped a billion-dollar logistics client make the shift to digital with DataOS, providing a single source of data, data discovery, real-time data, and processing. This transformation enabled the client to showcase real-time status of their shipment to their customer.
</p>
            <a href="/resources/case-study-logistics.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Retail Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-retail.html">
              <img src="../media/resources/casestudy-retail.png" alt="Retail">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-retail.html">Global Retail and E-commerce Firm Improves Shopping Experience of its Customers using TMDC’s DataOS</a></h2>
            <p class="mb-4">Discover why a global retail giant chose TMDC’s DataOS to manage the data generated by their 1.2 billion online listings. DataOS enabled the client to understand their customers better and improve their overall shopping experience.</p>
            <a href="/resources/case-study-retail.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Healthcare Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-healthcare.html">
              <img src="../media/resources/casestudy-healthcare.png" alt="Healthcare">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-healthcare.html">Major American Healthcare Firm Enriches their Data Quality Deploying TMDC’s DataOS</a></h2>
            <p class="mb-4">Leveraging DataOS enabled TMDC’s healthcare client to keep up with major challenges like changing compliance regulations and advanced treatment options that combined to create a large influx of data that had to be appropriately accessed, stored, and managed.
</p>
            <a href="/resources/case-study-healthcare.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Life Sciences Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-life-sciences.html">
              <img src="../media/resources/casestudy-life-sciences.png" alt="Life Sciences">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-life-sciences.html">Billion-dollar Pharmaceutical Giant Accomplishes Faster Data Insights using TMDC’s DataOS
</a></h2>
            <p class="mb-4">Discover how, within six weeks, TMDC helped one of the largest multinational pharmaceutical organizations in the world integrate data from multiple data sources, automate data quality and audit trails, and enable researchers to efficiently find and analyze drug development data.</p>
            <a href="/resources/case-study-life-sciences.html" class="red-link">Download</a>
          </div>
        </div>
        
        
        <!--Modern DataOS Overview-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="../media/resources/download/DataOS_Solution_Brief.pdf" target="_blank">
              <img src="../media/resources/dataos-overview.png" alt="Modern DataOS Overview">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">OVERVIEW</span>
            <h2 class="mt-2 mb-1"><a href="../media/resources/download/DataOS_Solution_Brief.pdf" target="_blank">Modern DataOS Overview</a></h2>
            <p class="mb-4">Founded in 2018, The Modern Data Company's (TMDC) mission is to democratize data access, enabling enterprises to make better data-driven decisions.</p>
            <a href="../media/resources/download/DataOS_Solution_Brief.pdf" class="red-link" target="_blank">Download</a>
          </div>
        </div>
        
        <!--A Modern Data Strategy for Enterprises-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="http://info.themoderndatacompany.com/modern-data-strategy-for-enterprises" target="_blank">
              <img src="../media/resources/whitepaper-strategy-enteprises.png" alt="A Modern Data Strategy for Enterprises">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">WHITE PAPER</span>
            <h2 class="mt-2 mb-1"><a href="http://info.themoderndatacompany.com/modern-data-strategy-for-enterprises" target="_blank">A Modern Data Strategy for Enterprises</a></h2>
            <p class="mb-4">Regardless of industry, size, or product offering, every company has to ask the same question—“Regardless of the amount of data I have, how much of it is actually usable?”</p>
            <a href="http://info.themoderndatacompany.com/modern-data-strategy-for-enterprises" class="red-link" target="_blank">Download</a>
          </div>
        </div>
        
        <!--DataOS Data Evolution & Modern Data Management-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
             <a href="http://info.themoderndatacompany.com/dataos-data-evolution" target="_blank">
               <img src="../media/resources/whitepaper-dataos-data-evolution.png" alt="DataOS Data Evolution & Modern Data Management">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">WHITE PAPER</span>
            <h2 class="mt-2 mb-1"><a href="http://info.themoderndatacompany.com/dataos-data-evolution" target="_blank">DataOS Data Evolution & Modern Data Management</a></h2>
            <p class="mb-4">The world is rapidly shifting to a digital first model for every organization due to world events. The long-known expansion of the size of data has suddenly kicked up its pace.</p>
            <a href="http://info.themoderndatacompany.com/dataos-data-evolution" class="red-link" target="_blank">Download</a>
          </div>
        </div>
        
        <!--A Modern Data Strategy for the U.S. Department of Defense-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="http://info.themoderndatacompany.com/modern-data-strategy-for-defense" target="_blank">
              <img src="../media/resources/whitepaper-defense.png" alt="A Modern Data Strategy for the U.S. Department of Defense">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">WHITE PAPER</span>
            <h2 class="mt-2 mb-1"><a href="http://info.themoderndatacompany.com/modern-data-strategy-for-defense" target="_blank">A Modern Data Strategy for the U.S. Department of Defense</a></h2>
            <p class="mb-4">In October of 2020, the DOD published a new Data Strategy targeted at using “data at speed and scale for operational advantage and increased efficiency.” </p>
            <a href="http://info.themoderndatacompany.com/modern-data-strategy-for-defense" class="red-link" target="_blank">Download</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Footer CTA-->
{% include resources-footer-cta.html %}


