---
layout: default
title: "Distribution / Supply Chain - The Modern Data Company"
excerpt: "Modern data company"
---
<!--Learning center intro-->
<div class="intro resources p-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="">
          <h1 class="mb-1 mt-0 text-white">Distribution / Supply Chain</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Resources types navigation-->
 {% include resources-nav.html %}


<div class="bg-gray py-5">
  <div class="container">
    <div class="row">
      
      <!--Sidebar-->
      <div class="col-lg-2">
        {% include resources-topics.html %}
      </div>
      
      <!--Main-->
      <div class="col-lg-10"> 
        <!--Distribution Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-distribution.html">
              <img src="../media/resources/casestudy-distribution.png" alt="Distribution">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-distribution.html">$20 Billion Alcohol Distributor Increases Revenue Through Their Digital Channels with TMDC’s DataOS</a></h2>
            <p class="mb-4">Read how the largest wine and spirits distributor in the US leveraged DataOS to optimize sales and marketing operations and to increase the value of their advertising inventory. Within six weeks, TMDC  helped establish a single source of data, centralized governance, data discovery, real-time data and processing, and the ability to securely syndicate.</p>
            <a href="/resources/case-study-distribution.html" class="red-link">Download</a>
          </div>
        </div>
        
        <!--Logistics Case Study-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="/resources/case-study-logistics.html">
              <img src="../media/resources/casestudy-logistics.png" alt="Logistics">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">CASE STUDY</span>
            <h2 class="mt-2 mb-1"><a href="/resources/case-study-logistics.html">$1 Billion Logistics Company Improves their Customer’s Shipment Tracking Experience using TMDC’s DataOS</a></h2>
            <p class="mb-4">See how TMDC helped a billion-dollar logistics client make the shift to digital with DataOS, providing a single source of data, data discovery, real-time data, and processing. This transformation enabled the client to showcase real-time status of their shipment to their customer.
</p>
            <a href="/resources/case-study-logistics.html" class="red-link">Download</a>
          </div>
        </div>

        <!--How Data Fabrics Can Help Prepare Today’s Supply Chains for Uncertainty-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-antracite p-4 mb-3 text-white resources-box">
          <div class="flex-shrink-0">
            <a href="/media/resources/download/Modern_Infographic_Looking%20to%20the%20Future.pdf" target="_blank"><img src="/media/resources/infographic-supply-chain.png" alt="How Data Fabrics Can Help Prepare Today’s Supply Chains for Uncertainty"></a>
          </div>
          <div class="flex-grow-1 ms-lg-5" >
            <span class="text-white label-asset-type">INFOGRAPHIC</span>
            <h2 class="mt-2 mb-1"><a href="/media/resources/download/Modern_Infographic_Looking%20to%20the%20Future.pdf" target="_blank" class="text-white">How Data Fabrics Can Help Prepare Today’s Supply Chains for Uncertainty</a></h2>
            <p class="mb-4">Supply chains are complex webs that are composed of people, products, and processes. When governed by bad data strategy, each component functions as a siloed node in a linear system operating in a relay. When disasters hit one node, entire systems across the globe can crumble.</p>
            <a href="/media/resources/download/Modern_Infographic_Looking%20to%20the%20Future.pdf" class="text-white underline">Download</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Footer CTA-->
{% include resources-footer-cta.html %}


