---
layout: default
title: Modern Data Overviews
excerpt: For more information on our products, services, and approach to data, check out our Overview documents.
image:
 path: /media/social/tmdc-social-1.jpg
---
<!--Learning center intro-->
<div class="intro resources p-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="">
          <h1 class="mb-1 mt-0 text-white">Overviews</h1>
          <p class="text-white">Resources about The Modern Data Fabric.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Resources types navigation-->
 {% include resources-nav.html %}


<div class="bg-gray py-5">
  <div class="container">
    <div class="row">
      
      <!--Sidebar-->
      <div class="col-lg-2">
        {% include resources-topics.html %}
      </div>
      
      <!--Main-->
      <div class="col-lg-10">
      
        <!--Modern DataOS Overview-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="../media/resources/download/DataOS_Solution_Brief.pdf" target="_blank">
              <img src="../media/resources/dataos-overview.png" alt="Modern DataOS Overview">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">OVERVIEW</span>
            <h2 class="mt-2 mb-1"><a href="../media/resources/download/DataOS_Solution_Brief.pdf" target="_blank">Modern DataOS Overview</a></h2>
            <p class="mb-4">Learn more about DataOS®, our empathy-driven, modular architecture data management platform that replaces the multiple point solutions commonly used to manage data.</p>
            <a href="../media/resources/download/DataOS_Solution_Brief.pdf" class="red-link" target="_blank">Download</a>
          </div>
        </div>
        
        <!--The Modern Data Company Overview-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="../media/resources/download/Company%20overview%20broshure.pdf" target="_blank">
              <img src="../media/resources/modern-company-overview.png" alt="The Modern Data Company Overview">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">OVERVIEW</span>
            <h2 class="mt-2 mb-1"><a href="../media/resources/download/Company%20overview%20broshure.pdf" target="_blank">The Modern Data Company Overview</a></h2>
            <p class="mb-4">Founded in 2018, The Modern Data Company's mission is to democratize data access, enabling enterprises to make better data-driven decisions.</p>
            <a href="../media/resources/download/Company%20overview%20broshure.pdf" class="red-link" target="_blank">Download</a>
          </div>
        </div>
        
         <!--The Evolution of Data/Data 3.0-->
        <div class="d-flex flex-wrap flex-md-nowrap bg-white shadow-sm p-4 mb-3 resources-box">
          <div class="flex-shrink-0">
            <a href="https://info.themoderndatacompany.com/evolution-of-data3" target="_blank">
              <img src="../media/resources/overview-data3.png" alt="The Modern Data Company Overview">
            </a>
          </div>
          <div class="flex-grow-1 ms-lg-5" style="position: relative;">
            <span class="label-asset-type text-muted">OVERVIEW</span>
            <h2 class="mt-2 mb-1"><a href="https://info.themoderndatacompany.com/evolution-of-data3" target="_blank">The Evolution of Data/Data 3.0</a></h2>
            <p class="mb-4">Over the past decade, traditional data management and data analytics have undergone major transformations. </p>
            <a href="https://info.themoderndatacompany.com/evolution-of-data3" class="red-link" target="_blank">Download</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Footer CTA-->
{% include resources-footer-cta.html %}


