<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="bg-gray">
    <!--Header-->
    {% include header.html %}

    <!--Position header-->
    <div class="intro products p-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <div class="">
              <h1 class="mb-4 mt-0">{{ page.title }}</h1>
              <a href="mailto:careers@tmdc.io?subject={{ page.title }}" class="btn btn-primary">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Posts-->
    <div class="bg-gray py-5">
      <div class="container">
        <div class="row mb-lg-5 justify-content-center">
          <!--Back-->
          <div class="col-lg-12">
            <div class="mb-3">
              <span class="text-red">←</span> <a href="/careers.html" class="red-link">View all </a>
            </div>
          </div>

          <!--Position-->
          <div class="col-lg-9">
            <div class="blog card h-100 rounded-0 border-0">
              <div class="card-body p-lg-5"> 
                <div class="markdown-body">
                  {{ content }}
                </div>
              </div>

              <div class="bg-antracite-dark text-white card-body p-lg-5">
                <h3>About The Modern Data Company </h3>

                <p>Founded in 2018, The Modern Data Company began with the realization that enterprise-wide data access has been siloed. Data engineers and database administrators have been the longstanding data gatekeepers who funneled data to analysts and data scientists. We aim to change that by freeing enterprises to make better data-driven decisions by democratizing access to data. When all employees, irrespective of their technical skills or background, can easily explore and analyze enterprise data, then both productivity and market expansion are realized at a faster pace.</p>

                <p><strong>Modern Data is proud to be an equal opportunity workplace. </strong></p>
              </div>
            </div>
          </div>

          <!--Sidebar-->
          <div class="col-lg-3">
            <div class="blog card rounded-0 border-0 mb-3">
              <div class="card-body p-4">
                <h3 class="mt-0 mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17.462" height="23.974" viewBox="0 0 17.462 23.974">
                    <g id="_6934302_location_map_place_pointer_icon" data-name="6934302_location_map_place_pointer_icon" transform="translate(-57.03 -40.23)">
                      <path id="Path_22790" data-name="Path 22790" d="M65.761,63.7l-.271-.339c-.326-.405-7.96-9.985-7.96-14.4a8.231,8.231,0,1,1,16.462,0c0,4.423-7.634,14-7.96,14.4Zm0-22.276a7.541,7.541,0,0,0-7.533,7.533c0,3.729,6.151,11.846,7.533,13.621,1.382-1.775,7.533-9.884,7.533-13.621A7.541,7.541,0,0,0,65.761,41.428Z" transform="translate(0)" fill="#fc4545" stroke="#fc4545" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                      <path id="Path_22791" data-name="Path 22791" d="M79.915,67.347a4.233,4.233,0,1,1,4.232-4.232A4.234,4.234,0,0,1,79.915,67.347Zm0-7.837a3.607,3.607,0,1,0,3.6,3.605,3.607,3.607,0,0,0-3.6-3.605Z" transform="translate(-14.152 -14.439)" fill="#fc4545" stroke="#fc4545" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                    </g>
                  </svg> Location</h3>
                <div class="mb-2"> {{ page.location-1 }}</div>
                <div class="mb-2">{{ page.location-2 }}</div>
                <div>{{ page.location-3 }}</div>
              </div>
            </div>

            <div class="blog card rounded-0 border-0 mb-3">
              <div class="card-body p-4 text-center">
                <h3 class="mt-0 mb-3">Share this opportunity</h3>
                <div class="sharethis-inline-share-buttons mx-auto"></div>
              </div>
            </div>

            <a href="/careers.html"><img src="/media/career-sidebar-banner.jpg" class="img-fluid"></a>

          </div>
        </div>
      </div>
    </div>


    <!--Footer CTA-->
    <div class="bg-white p-3 py-5">
      <div class="container d-grid">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-7 text-center">
            <h2 class="mb-1">Unclutter Your Data in <span class="yellow-underline">6 weeks</span></h2>
            <p class="lead mb-5">Don’t power your innovative solutions with bad data. Power them with secure,
              governed and high-quality data every time.</p>
            <a class="btn btn-primary mb-lg-5" href="/get-a-demo.html" role="button">Get a Demo</a>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    {% include footer.html %}
  </div>
</body>

</html>
